/* CSS style rules for label and some buttons */

.text-center {
    text-align: center;
    margin-bottom: 20px;
}

.HomeBtn {
    background-color: #212529;
    color: #fff;
    border: none;
    padding: 7px 10px 7px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

#total>h1>span {
    color: rgb(0, 173, 0);
}

.Shopping-Cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.single-prs-bill {
    /* display: inline-block; */
    width: 60vw;
    padding: 30px 30px 0px 30px;
    background-color: rgb(255, 42, 0);

}

.single-product {
    /* padding-top: 0px;
    padding-bottom: 0px; */
    display: flex;
    align-items: center;
    width: 60vw;
    background-color: white;
    border-radius: 10px;
    padding: 0px;
}

.single-product>img {
    margin-right: 20px;
    width: 300px;

}

.product-name {
    margin-right: 50px;
    width: 400px !important;
    font-size: 20px !important;
}

.pr-content>.buttons {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 50px;
    margin-left: 50px;
    border: 1px solid black;
    width: 100px;
}

.pr-content>.Delete {
    margin: auto;
    margin-right: 20px;
    cursor: pointer;
}

.pr-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly !important;
}

.Delete>i {
    display: inline-block;
    padding: 10px;
}

.Delete {
    /* height: 50px; */
    width: auto;
    display: flex;
    align-items: center;
}

.Delete:hover {
    color: #ED270D;
}

.btn-checkout {
    background-color: green;
    color: #fff;
    border: none;
    width: auto;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    border-radius: 7px;
    cursor: pointer;
}

.btn-Clear {
    background-color: red;
    color: #fff;
    border: none;
    width: auto;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 7px;
}