body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;

}

/* .Navbar {
    display: flex;
} */

.top-menu {
    background-color: black;
    display: grid;
    color: #fff;
    grid-template-columns: auto auto auto;
    grid-column-gap: 9em;
    grid-row-gap: 1em;
    padding: 14px 64px;
    margin-bottom: 36px;
}

.top-menu>.navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
}

.top-menu>.icon {
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

.top-menu>.icon>i {
    padding: 0 16px;
    font-size: 19px;
    cursor: pointer;
}

.top-menu>.navigation>a {
    color: #fff;
}

.top-menu>.icon>a {
    margin-right: 10px;
}

.top-menu>.icon>a:visited {
    color: #fff;
}

.lines {
    border-right: 1px solid white;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* CSS for main-content */

#highlight {
    border-bottom: 2px solid black;
    color: black;
}

.main-content>.selector {
    padding: 16px 0px;
    text-align: center;
}

.main-content>.selector>a {
    font-size: 17px;
    font-weight: 500;
    color: #989898;
    padding: 12px 22px;
}

/* CSS for product */
#products {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.single-product {
    width: 250px;
    height: 100%;
    box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
    padding: 10px;
    margin-bottom: 20px;
}

.single-product>.pr-content>h5 {
    font-weight: 500;
    font-size: 18px;
}

.single-product>.pr-content>h6 {
    font-size: 14px;
    font-weight: 400;
    padding-top: 5px;
}

.single-product>img {
    height: 15em;
    max-width: 100%;
    object-fit: contain;
}

.single-product>.pr-content>button {
    background-color: white;
    border: none;
    border: 1px solid black;
    padding: 5px 0px;
    text-transform: uppercase;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
}

.single-product>.pr-content>button:hover {
    background-color: #000;
    color: #fff;
}

.single-product>.pr-content>h6>b {
    margin-right: 20px;
}

.buttons {
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
}

.buttons>i {
    margin-right: 10px;
    cursor: pointer;
}

.buttons>div {
    margin-right: 10px;
}

.cartAmount {
    position: absolute;
    top: 10px;
    right: 140px;
    background-color: red;
    padding: 0px 2px 0px 2px;
    border-radius: 50px;
}